<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smf.acg.sendmessagefast">



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/send_message_fast"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"

        android:theme="@style/Theme.SendMessageFast">

        <activity android:name="com.smf.acg.sendmessagefast.Histogram"
            android:screenOrientation = "portrait"/>
        <activity android:name="com.smf.acg.sendmessagefast.SendMessageActivity"
            android:screenOrientation = "portrait"/>
        <activity android:name="com.smf.acg.sendmessagefast.AddressDetailActivity"
            android:screenOrientation = "portrait"/>
        <activity android:name="com.smf.acg.sendmessagefast.AddressActivity"
            android:screenOrientation = "portrait"/>
        <activity android:name="com.smf.acg.sendmessagefast.CreateAddress"
            android:screenOrientation = "portrait"/>
        <activity android:name="com.smf.acg.sendmessagefast.NameDetails"
            android:screenOrientation = "portrait"/>
        <activity android:name="com.smf.acg.sendmessagefast.NameActivity"
            android:screenOrientation = "portrait"/>
        <activity android:name="com.smf.acg.sendmessagefast.AppInfo"
            android:screenOrientation = "portrait"/>
        <activity android:name="com.smf.acg.sendmessagefast.MainActivity"
            android:screenOrientation = "portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>